.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/Rectangle\ 70.svg");
    .total-contanier {
        width: 100%;
        height: 100%;
        background: #030539;
        opacity: 0.9;  

        header {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px;

            .btn-1 {
                width: 100px;
                height: 50px;
                background: #2408E8;
                text-decoration: none;
                color: #F7F7FD;
                padding: 10px 30px;
                font-size: 18px;

                &:hover {
                    background: white;
                    border: 2px solid #2408E8;
                    color: #2408E8;
                    border-radius: 20px;
                }

            }

            .header-text {
                display: flex;
                gap: 30px;

                a {
                    text-decoration: none;
                    color: #F7F7FD;
                    opacity: 0.6;
                    font-size: 18px;
                    
                    &:hover {
                        color: rgb(76, 194, 230);
                    }

                }

            }

        }

        .contanier {
            width: 100%;
            height: calc(100vh - 100px);
            display: flex;

            .first-con {
                width: 50%;
                height: 100%;
                padding-left:150px;
               

                h1 {
                    color: #F7F7FD;
                    font-size: 80px;
                }

                p {
                    color: #F7F7FD;
                    opacity: 0.5;
                    font-size: 18px;
                    margin-top: 10px;
                }

                button {
                    width: 160px;
                    height: 50px;
                    background: #2408E8;
                    border: none;
                    font-size: 18px;
                    color: #F7F7FD;
                    margin-top: 20px;
                }

                .first-con-text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 30px;
    
                    .text {
                        h2 {
                            color: #F7F7FD;
                            font-size: 35px;
                        }
    
                        p {
                            color: #F7F7FD;
                            opacity: 0.6;
                            font-size: 16px;
                        }
    
                    }
    
                }

            }

            .second-con {
                width: 50%;
                height: 100%;
                background-image: url("/assets/pngwing\ 1.svg");
            }

        }

    }


}